@import url("https://fonts.googleapis.com/css2?family=Anton&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-xs: 22.5rem;
}

@layer utilities {
  .mask-image-gradient {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0)
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0)
    );
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #8f8f8f;
  text-decoration: inherit;
  cursor: pointer;
}

h6 {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
}

a:hover {
  color: #d77f7f;
  transition: 0.3s ease-in-out;
}

body {
  background-image: url("./assets/fondo.png");
}

button {
  font-family: "Outfit", sans-serif;
}
